button {
	padding: rem(17) rem(55) rem(14) rem(55); //Tu center de text inside
	display: inline-block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-heading;
  font-weight: 700;
  font-size: rem(11);
  letter-spacing: rem(0.1);
  cursor: pointer;
  transition: .3s background-color;
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}
