@font-face {
  font-family: "FjallaOneRegular";
  src: url("../fonts/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif-Regular";
  src: url("../fonts/PTF55F.ttf") format("truetype");
}
