.icon-arrow {
  width: 20px;
  height: 20px;
}

.icon-plus {
  width: 20px;
  height: 20px;
}

.icon-logo {
  max-width: 160px;
}

.icon-menu {
  fill: $color-main;
}

.icon-share {
  width: 20px;
  height: 20px;
}

.icon-settings {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
