/* Header */

.wrap {
  padding-left: 85px;
  padding-right: 85px;

  @media (--large-viewport) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (--medium-viewport) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (--mobile-viewport) {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
.l-header {
}

.l-dashboard {
}

.l-map {
}

.l-footer {
}
*/
