.leaflet-bar {
  box-shadow: none;
  border-radius: 10px;
}

.leaflet-top .leaflet-control {
  margin-top: 30px;
}

.leaflet-bar a {
  color: $color-main;
  border-radius: 20px !important;
  margin-right: 30px;
  margin-top: 10px;
}
