.map-add {
  position: absolute;
  top: -20px;
  right: 40px;
  z-index: 9999;
}

.map-modal {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.map-modal-box {
   text-align: center;

  > h2 {
    font-family: $font-heading;
    font-size: $font-size-large;
    color: $font-main;
	  line-height: 1;
  }
}

.remove-map {
  float: right;
  margin-top: -5px;
}
