.c-txt-body {
  font-family: $font-body;
  font-size: 15px;
  line-height: 1.9;
  color: $font-main;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 800px;

  &.-large {
    font-size: 20px;
  }
}
